// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  width: 960px;
  margin: 0 auto;
  text-decoration: none;
}
li {
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}

h1{
  margin-bottom: 50px
}
