

img{
  opacity: 0.4;
}


.form-group{
  color: white;
}
td.a {
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
  color: white;
}

td {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}
