
body{
  width: 960px;
  margin: 0 auto;
  text-decoration: none;
  // background-image: url("fire_2.jpg");
  font-family: sans-serif;
}// You can use Sass (SCSS) here: http://sass-lang.com/

img{
  opacity: 0.4;
}


li {
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
  color: white;
}

h1{
  margin-bottom: 50px;
  color: white;
}

h2{
  margin-bottom: 50px;
  color: white;
}

h3{
  margin-bottom: 50px;
  color: white;
}

.form-group{
  color: white;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
  color: white;
}

td {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}
